/credit_score/datasets
/games_project/datasets
/property_service/datasets
/telecom_research/datasets
/marketing_metrics/datasets


# os files
.git*
.ipynb_checkpoints
.gitignore
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
